@font-face {
  font-family: OurFont;
  src: url(../fonts/lato-cufonfonts/Lato-Regular.ttf);
}

body {
  font-family: OurFont;
  margin: 0;
}

h2,
h3,
h4 {
  color: #404040;
}

h3 {
  font-size: 30px;
  text-transform: uppercase;
  line-height: 40px;
}

p {
  color: #707070;
}

i {
  color: #FF930D;
}

ul {
  margin-top: 0;
  margin-bottom: 1rem;
  display: block;
  list-style-type: disc;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

/* setup value */
.container {
  max-width: 1140px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.nav-link {
  font-size: 15px;
  color: #00263C;
  font-weight: bold;
  display: block;
}

.nav-item {}

.width_12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.width_8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.width_6 {

  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.width_4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.width_3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

/* top menu style  */

.menu_topbar {
  color:  !important;
  font-size: 14px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-right: 5px;
  padding-left: 0px;
  margin-bottom: 0;
  list-style: none;
}

.navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: .5rem 1rem;
}

.navbar-brand {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-expand-lg {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.nav.contact_number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 5px;
  margin-bottom: 0;
  list-style: none;
}

.navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar-expand-lg .navbar-collapse {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin-left: auto;
}

.navbar-expand-lg .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

a {
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

img {
  vertical-align: middle;
  border-style: none;
}

.nav.justify-content-end {
  justify-content: flex-end;
}


.menu_topbar li span,
.menu_topbar li a {
  padding: 12px 6px;
  text-transform: capitalize;
  font-size: 13px;
}

.user_area {
  display: flex;
  margin-left: 0px;
}

/* main menu style  */
.menu {
  background-color: #00263C;
}

.menu nav.navbar li {
  line-height: 43px;
  padding-left: 13px;
}

.menu nav.navbar a.nav-link {
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

button.navbar-toggler {
  background: #A9B4BB;
}

.menu nav.navbar a.nav-link:hover {
  color: #FF930D !important;
  border-bottom: 2px solid #07a7e3;
}

.menu nav.navbar .active a.nav-link {
  border-bottom: 2px solid #07a7e3;
}

.menu nav.navbar .active a.nav-link {
  color: #FF930D !important;
}

/* baner style  */
.banar_area {
  position: relative;
  z-index: 1;
  background-size: cover;
}

.banar_area .addpadding {
  padding-top: 14rem;
  padding-bottom: 4rem;
}

.banar_area .wraper_left {
  margin: auto;
  color: #ffffff;
  background-color: grey;
  width: 58%;
  padding: 3px;
  line-height: 20px;
}

.banar_area .wraper_left strong {
  color: #FF930D;
}

.banar_area .wraper_left p {
  color: #ffffff;
  padding: 20px 12%
}

.banar_area .wraper_left h1 {
  font-size: 34px;
  font-weight: bold;
  line-height: 42px;
  padding: 0 3%;
  text-align: center;
}

.banar_area .wraper_left button {
  font-size: 14px;
  line-height: 27px;
  border: 1px solid #07a7e3;
  color: #ffffff;
  outline: none;
  padding: 5px 20px;
  text-transform: uppercase;
  border-radius: 5px;
  background: #ff930d;
  font-weight: bold;
}

.banar_area .wraper_left button:hover {
  border: 1px solid #fff;
}

.banar_area:after {
  position: absolute;
  content: "";
  top: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 15%;
  z-index: -1;
}


/* service area  */


.service_area {
  text-align: center;
  font-size: 14px;
  line-height: 28px;
  padding: 40px 40px 0;
  background-color: #F1F2F2;
}

.headline-underline {
  display: block;
  width: 25%;
  height: 2px;
  background: #07a7e3;
  margin: 30px auto 1rem;

}

.service_area .learn h3 {
  font-size: 25px;
}

.service_area p {
  text-align: center;
  line-height: 27px;
  font-size: 18px;
  margin-left: 10%;
  margin-right: 10%;
}

p.left-align {
  text-align: left;
  margin-left: 4em;
}

.service_area p a.button {
  border: 1px solid;
  border-color: #07a7e3;
  border-radius: 0;
  background: transparent;
  color: #ff930d;
  outline: none;
  font-size: 14px;
  line-height: 3;
  padding: 10px 30px;
  text-transform: uppercase;
  border-radius: 5px;
}

.service_area p a.button:hover {
  border-color: #ff930d;
  background: #ff930d;
  color: #fff;
  text-decoration: none;
}

.service_area .content h4 {
  font-size: 22px;
  line-height: 27px;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  text-align: center;
}

.service_area .content {
  display: flex;
}

.service_area .content p {
  font-size: 15px;
}


.service_area button {
  font-size: 14px;
  font-weight: bold;
  line-height: 27px;
}

.service_area img {
  width: 100%;
}

.service_area .subcon {
  margin: auto;
}

/* testimonial area style css  */
.tesmonial {}

.tesmonial .carousel_slide {
  text-align: center;
  padding: 5%;
}

.tesmonial .carousel_slide .one_slide blockquote,
h6 {
  color: #707070;
}

.tesmonial .carousel_slide .one_slide span.leftq,
span.rightq {
  color: #fd7e14;
  font-size: 40px;
  line-height: 10px;
}


/* footer are css start  */

footer .footer_widget {
  color: #acc7d4;
  font-size: 14px;
  line-height: 28px !important;
  background-color: #00263C;
  padding-top: 10px;
  padding-bottom: 10px;
}
}

footer .footer_widget p {
  color: #acc7d4;
}

footer .footer_widget a {
  line-height: 28px !important;
  color: #acc7d4;
  padding-left: 5px;
  font-size: 13px;
}

footer .footer_widget ul,
ul span {
  display: inline-block;
}

footer .footer_widget li:hover a {
  text-decoration: underline;
}

footer .footer_widget h3 {
  font-size: 22px;
  font-weight: bold;
  color: #acc7d4;
  border-bottom: 1px solid #07a7e3;
  line-height: 15px !important;
  padding: 10px 5px;
  text-transform: capitalize;
}

footer .footer_widget .address .widget_logo img {
  width: 145px;
  margin-bottom: 10px;
}

footer .footer_widget .width_3 .wrap {
  padding: 0 10px;
}

footer .footer_widget .address p {
  margin-bottom: 15px !important;
  font-size: 15px;
  color: #acc7d4;
}

footer .footer_widget .address span {
  display: block;
}

footer .footer_widget .newsletter form input,
footer .footer_widget .newsletter form button {

  font-size: 14px;
  line-height: 27px;
  border: 1px solid #07a7e3;
  color: #ffffff;
  outline: none;
  padding: 5px 20px;
  margin: 5px 0;
  border-radius: 5px;
  font-weight: bold;

}

footer .footer_widget .newsletter form input {
  background: #fff;
  color: #000000;
}

footer .footer_widget .newsletter form button {
  background: #ff930d;
}

footer .footer_widget .newsletter form button:hover {

  border: 1px solid #fff;

}

footer .footer_bottom {
  color: #fff;
  font-size: 15px;
  padding: 5px;
  background-color: #00263C;
}

footer .footer_bottom .copyright-text a {
  color: #29B2FE;
}

footer .footer_bottom .copyright-text p {
  color: #fff;
  margin-bottom: 0 !important;
  padding: 20px 15px;
  font-size: 14px;
}

footer .footer_bottom .copyright-text.right {
  text-align: right;
}

/*** media queries ***/
@media only screen and (max-width: 991px) and (min-width: 768px) {
  .banar_area .addpadding {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  footer .footer_widget .width_3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  footer .footer_widget .form-group input#email {
    width: 100%;
    padding: 5px 0 5px 0px;
    text-align: center;
  }

  footer .footer_widget button.btn {
    width: 100%;
  }

  footer .footer_widget .address p {
    margin-bottom: 40px !important;
  }

  footer .footer_widget .width_3 .wrap {
    padding: 0px 20px;
  }

  footer .footer_widget ul,
  ul span {
    display: block;
  }
}

@media only screen and (max-width: 767px) and (min-width: 576px) {
  .menu_topbar {
    display: none;
  }

  .menu nav.navbar a.nav-link {
    font-size: 12px;
  }

  .banar_area .addpadding {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .banar_area .wraper_left h1 {
    font-size: 25px;
    line-height: 35px;
    padding: 10%;
  }

  .banar_area .wraper_left p {
    padding: 0 10%;
  }

  .banar_area .wraper_left button {
    font-size: 11px;
  }

  .service_area .width_12 .width_6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .service_area .subcon {
    order: 2;
  }

  .service_area .suborder {
    order: 1;
  }

  footer .footer_widget .width_3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  footer .footer_widget .address p {
    margin-bottom: 20px !important;
  }

  footer .footer_widget .width_3 .wrap {
    padding: 0px 20px;
  }

  footer .footer_widget ul,
  ul span {
    display: block;
  }

  footer .footer_widget .form-group input#email {
    width: 100%;
    padding: 5px 0 5px 0px;
    text-align: center;
  }

  footer .footer_widget button.btn {
    width: 100%;
  }
}

@media only screen and (max-width: 575px) and (min-width: 0px) {
  .menu_topbar {
    display: none;
  }

  .menu ul.navbar-nav.ml-auto {
    margin: 50px auto 0 auto;
    text-align: center;
    width: 90%;
  }

  .menu a.navbar-brand {
    position: absolute;
    top: 5px;
  }

  .menu ul.navbar-nav.ml-auto {
    margin: 50px auto 0 auto;
    text-align: center;
  }

  .navbar-expand-lg .navbar-nav {
    flex-direction: column;
  }

  .banar_area .addpadding {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .banar_area .wraper_left h1 {
    font-size: 18px;
    padding: 5%;
    line-height: 2;
  }

  .banar_area .wraper_left p {
    padding: 0 5%;
    line-height: 20px;

  }

  .banar_area .wraper_left button {
    font-size: 11px;
  }

  .service_area .width_12 .width_6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .service_area .content h4 {
    font-size: 13px;
  }

  .service_area h3 {
    font-size: 18px;
    text-transform: uppercase;
    line-height: 5px;
  }


  .service_area p a.button {
    font-size: 12px;
  }

  .service_area p {
    font-size: 13px;
  }

  .service_area .subcon {
    order: 2;
  }

  .service_area .suborder {
    order: 1;
  }

  .tesmonial .carousel_slide {
    padding: 2%;
  }

  .tesmonial .carousel_slide blockquote {
    margin: 5% 0;
  }

  .tesmonial .carousel_slide h2 {
    font-size: 18px !important;
  }

  footer .footer_widget .width_3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  footer .footer_widget .address p {
    margin-bottom: 20px !important;
  }

  footer .footer_widget .width_3 .wrap {
    padding: 0px 20px;
  }

  footer .footer_widget ul,
  ul span {
    display: block;
    text-align: center;
  }

  footer .footer_widget h3 {
    text-align: center;
  }

  footer .footer_widget .form-group input#email {
    width: 100%;
    padding: 5px 0 5px 0px;
    text-align: center;
  }

  footer .footer_widget button.btn {
    width: 100%;
  }

  footer .footer_widget .address p {
    font-size: 13px;
  }

  footer .footer_widget .newsletter form button {
    font-size: 13px;
  }

  footer .footer_bottom .width_6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }

  footer .footer_bottom .copyright-text.right {
    text-align: center;
  }

  footer .footer_bottom .copyright-text p {
    color: #fff;
    margin-bottom: 0 !important;
    padding: 0px 0 5px;
    font-size: 13px;
  }
}

/************************************/
/***** About page css style each*****/
/***** ******************************/